@charset "utf-8";
body
{
	max-width: 70em;
	margin: 0 auto;
	text-align: justify;
}
img
{
	max-width: 100%;
	margin-top: .5em;
	border: 1px solid #198AEA;
	outline: 2px solid rgba(0, 0, 0, .05);
}
.управляющийсимвол
{
	font: bold 1.4em/1.2 monospace;
	margin: 0 .2em;
	color: #84ccff;
}
.теготкрыть,
.тегзакрыть
{
	margin: 0 .2em;
	padding: .1em .7em;
	color: #222;
	background: rgba(133, 91, 213, .2);
}
.теготкрыть
{
	border-radius: 40% 0 0 40%;
}
.тегзакрыть
{
	border-radius: 0 40% 40% 0;
}
.ключ
{
	margin-left: 2.5em;
}
.ключ th
{
	padding-right: .4em;
	vertical-align: top;
}
